footer {
    background-color: #0d0d0d;
    padding: 20px 16px;
    height: 80px;
    h2.footer-logo {
        color: #fff;
        width: 80px;
        font-size: 16px;
        position: absolute;
        right: 20px;
    }
}